@tailwind base;
@tailwind components;
@tailwind utilities;

/* テーマ */
.LightTheme {
  background-color: rgb(243 244 246) !important;
  color: rgb(55 65 81) !important;
  border-color: rgb(209 213 219) !important;
  --tw-ring-color: rgb(209 213 219) !important;
}
/* アドセンス */
.FirstAd {
  min-height: 280px !important;
}
/* PWA ホームバー */
.HomeBar {
  padding-bottom: calc(env(safe-area-inset-bottom)) !important;
}

/* メディアクエリ */
.SidebarLayout {
  display: none;
}
.TitleBanner {
  padding: 20px 0 10px 0;
}
.TitleIcon {
  height: 32px;
}
.pc {
  display: block;
}
.mobile {
  display: none;
}
.MobileMargin-0 {
  margin-top: 38px;
}
.MobileMarginBottom-0 {
  margin-bottom: 38px;
}
.TopTitle {
  margin-top: 100px;
}
@media (max-width: 1023px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
  .MobileHeader {
    margin-top: 64px;
  }
  .SidebarLayout {
    display: block;
  }
  .Search {
    margin-top: 0px;
  }
  .TitleBanner {
    padding: 10px 0 10px 0;
  }
  .DialogButton {
    margin-top: 0px;
  }
  .MobilePadding-0 {
    padding: 0 !important;
  }
  .MobileMargin-0 {
    margin-top: 0 !important;
  }
  .MobileMarginBottom-0 {
    margin-bottom: 0 !important;
  }
  .TopTitle {
    margin-top: 50px;
  }
  .BetterText {
    text-align: left;
  }
}
@media (max-width: 768px) {
  /* フッター */
  .underLogo {
    display: flex;
    justify-content: center;
  }
  .footerMenu {
    text-align: center;
  }
}
@media (max-width: 639px) {
  .TitleIcon {
    height: 25px;
  }
  .fc-header-toolbar {
    display: block !important;
  }
  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.5em !important;
  }
  .fc-toolbar-title {
    margin-top: 0.5em !important;
  }
  .fc-event-title {
    font-size: 10px;
  }
  .FirstAd {
    min-height: 200px !important;
  }
}
/* .fc-event-title {
  white-space: normal;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 1.4;
} */
/* カレンダー */
.fc-event {
  cursor: pointer;
}
.fc-daygrid-event-dot {
  display: none;
}
.fc-daygrid-event-harness {
  padding-bottom: 5px !important;
}
.fc-h-event {
  border: none;
}

.fc-daygrid-dot-event .fc-event-title {
  font-weight: normal !important;
}
.fc-button {
  background-color: rgb(209 213 219) !important;
  color: rgb(55 65 81) !important;
  border: none !important;
}
.fc-h-event .fc-event-title {
  display: block !important;
}
.fc .fc-view-harness {
  background-color: white;
}

/* 土曜と日曜 */
.fc-day-sat {
  background-color: #e0f7fa;
}
.fc-day-sun {
  background-color: #ffebee;
}
.fc-timegrid-col:nth-child(7) {
  background-color: #e0f7fa;
}
.fc-timegrid-col:nth-child(8) {
  background-color: #ffebee;
}

.error {
  margin: 0 !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
