@tailwind base;
@tailwind components;
@tailwind utilities;

/* テーマ */
.LightTheme {
  background-color: rgb(249 250 251);
  color: rgb(55 65 81);
  border-color: rgb(209 213 219);
  --tw-ring-color: rgb(209 213 219);
}

/* メディアクエリ */
.SidebarLayout {
  display: none;
}
.TitleBanner {
  padding: 20px 0 10px 0;
}
.TitleIcon {
  height: 32px;
}
@media (max-width: 1023px) {
  .MobileHeader {
    margin-top: 64px;
  }
  .SidebarLayout {
    display: block;
  }
  .Search {
    margin-top: 0px;
  }
  .TitleBanner {
    padding: 10px 0 10px 0;
  }
  .DialogButton {
    margin-top: 0px;
  }
}
@media (max-width: 639px) {
  .TitleIcon {
    height: 25px;
  }
}

.error {
  margin: 0 !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
